In [3]:
import pandas as pd

In [10]:
df = pd.read_csv('./data/ISIC_2019_Training_GroundTruth.csv')

In [11]:
df.head()
df = df.drop('UNK', 1)
df.head()

          image  MEL   NV  BCC   AK  BKL   DF  VASC  SCC
0  ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0
1  ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0
2  ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0
3  ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0
4  ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0

In [22]:
import shutil
import pandas as pd
from tqdm import tqdm
import random
import os 

classes = list(df.columns)[1:]
print(classes)

for x in tqdm(classes): 
    filtered = df.loc[df[x] == 1]
    imgs = filtered["image"].to_numpy()
    for img in imgs:
        src = 'data/cropped/' + img + '.jpg'
        number = random.uniform(0, 1)
        if number < 0.8:
            dst = './data/cropped_multiclass/train/' + x + '/'
        else: 
            dst = './data/cropped_multiclass/val/' + x + '/' 
            
        if not os.path.exists(dst):
            os.makedirs(dst)
        shutil.copy(src, dst)

  0%|          | 0/8 [00:00<?, ?it/s]

['MEL', 'NV', 'BCC', 'AK', 'BKL', 'DF', 'VASC', 'SCC']

100%|██████████| 8/8 [05:18<00:00, 39.83s/it]